name: Build & Test Go Service

on:
  push:
    branches: [ develop, main, feature/* ]
  pull_request:
    branches: [ develop, main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Download dependencies
        run: go mod download

      - name: Install goimports
        run: go install golang.org/x/tools/cmd/goimports@latest

      - name: Format code
        run: |
          go fmt ./...
          goimports -w .

      - name: Vet code
        run: go vet ./...

      - name: Run unit tests
        if: false
        run: |
          echo "Skipping DB tests for now"
          go test ./internal/... -v -count=1 || true

      - name: Build
        run: |
          mkdir -p bin
          go build -v -o bin/myesi-vuln-service ./cmd
